name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_lib:
    name: Build lib
    runs-on: windows-latest
    defaults:
      run:
        working-directory: lib

    steps:
    - name: Checkout PidginWinToastNotifications
      uses: actions/checkout@v2
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.1
      
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
 
    - name: Restore NuGet packages
      run: nuget restore PidginWinToastLib.sln
    
    - name: Build solution
      run: msbuild PidginWinToastLib.sln -property:Configuration=Release -property:Platform=x86
    
    - uses: actions/upload-artifact@v2
      name: Upload artifacts
      with:
        name: PidginWinToastLib
        path: |
          lib\Release\PidginWinToastLib.dll
          
  build_plugin:
    name: Build plugin
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    
    steps:
      - name: Checkout PidginWinToastNotifications
        uses: actions/checkout@v2
        with:
          path: PidginWinToastNotifications

      - name: Create win32-dev directory
        run: mkdir win32-dev
        shell: cmd
      
      - name: Download GTK Zip
        run: curl https://ftp.gnome.org/pub/gnome/binaries/win32/gtk+/2.14/gtk+-bundle_2.14.7-20090119_win32.zip --output gtk.zip
        shell: bash
      
      - name: Current folder content
        run: dir
        shell: cmd
      
      - name: Extracting GTK 
        run: unzip gtk.zip -d win32-dev/gtk_2_0-2.14
        shell: bash
      
      - name: Delete GTK Zip
        run: rm gtk.zip
        shell: cmd
        
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW32
          install: bash bzip2 ca-certificates coreutils gawk gnupg grep gzip libiconv make patch sed tar unzip wget zip
      
      - name: Checkout Pidgin 2.12.0
        run: hg clone https://keep.imfreedom.org/pidgin/pidgin -r 0241f07ed2ba -b release-2.x.y -u v2.12.0 pidgin-2.x.y
        shell: cmd
