name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_lib:
    name: Build lib
    runs-on: windows-latest
    defaults:
      run:
        working-directory: lib

    steps:
    - name: Checkout PidginWinToastNotifications
      uses: actions/checkout@v2
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.1
      
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
 
    - name: Restore NuGet packages
      run: nuget restore PidginWinToastLib.sln
    
    - name: Build solution
      run: msbuild PidginWinToastLib.sln -property:Configuration=Release -property:Platform=x86
    
    - uses: actions/upload-artifact@v2
      name: Upload artifacts
      with:
        name: PidginWinToastLib
        path: |
          lib\Release\PidginWinToastLib.dll
          
  build_plugin:
    name: Build plugin
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    
    steps:
      - name: Checkout PidginWinToastNotifications
        uses: actions/checkout@v2
        with:
          path: PidginWinToastNotifications

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: bash bzip2 ca-certificates coreutils gawk gnupg grep gzip libiconv make patch sed tar unzip wget zip
